useDynLib(KAML, .registration=TRUE)
exportPattern("^KAML")
importFrom(Rcpp, evalCpp)
import(BH)
import(MASS)
import(stats)
import(compiler)
import(parallel)
import(bigmemory)
import(rfunctions)
importFrom(methods, is)
importFrom(methods, getPackageName)
importFrom(utils, read.delim)
importFrom(utils, read.table)
importFrom(utils, write.table)
importFrom(utils, memory.limit)
importFrom(utils, packageVersion)
importFrom(compiler, cmpfun)
