useDynLib(KAML, .registration=TRUE)
export(KAML)
export(KAML.Data)
importFrom(Rcpp, evalCpp)
import(BH)
import(MASS)
import(stats)
import(parallel)
import(bigmemory)
importFrom(methods, is)
importFrom(gaston, lmm.diago)
importFrom(methods, getPackageName)
importFrom(utils, read.delim)
importFrom(utils, read.table)
importFrom(utils, write.table)
importFrom(utils, memory.limit)
importFrom(utils, packageVersion)
